<!doctype html>
<!--[if lt IE 9]>
<html class="ie" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:hx="http://purl.org/NET/hinclude"
        >
<![endif]-->
<!--[if gte IE 9]><!-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:hx="http://purl.org/NET/hinclude"
        >
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    {# Please don't add "maximum-scale=1" here. It's bad for accessibility. #}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block meta_tags %}
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Symfony Sverige"/>
        <meta property="og:image" content="{{ asset('bundles/symfonysecore/images/logo.png') }}" />
        <meta property="og:site_name" content="Symfony Sverige"/>
        <meta property="og:url" content="{{ app.request.uri }}"/>
        <meta property="og:description" content="{% block ogDescription %}{% endblock %}"/>

        <meta name="description" content="{% block metaDescription %}{% endblock %}"/>
    {% endblock meta_tags %}

    <meta name="twitter:site" content="@symfonyse">
    <meta name="include_mode" content="async" />


    <title>{% block title %}Symfony Sverige{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets filter='cssrewrite' output='static/styles.css'
        '@SymfonyseCoreBundle/Resources/public/css/*'
        'bower/Ink/css/ink.css'

        %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/symfonysecore/images/favicon.png') }}" />

    {% import "SymfonyseCoreBundle:Macro:misc.html.twig" as _misc %}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ ga_analytics }}', 'symfony.se');
        ga('send', 'pageview');

    </script>

</head>

<body lang="sv" class="body {% block bodyclass %}{% endblock %}" {% block bodytag %}{% endblock %}>

{% block headerWrap %}
    <header role="banner">
        {% block header %}
        {% include "SymfonyseCoreBundle:Navigation:primary.html.twig" %}
        {% endblock %}
    </header>
{% endblock %}

<!-- OVERVIEW ROW -->
{% block contentHead %}

{% endblock %}
<!-- END OVERVIEW ROW -->

{% block contentWrap %}
    {% block content %}

    {% endblock %}
{% endblock %}

{% block footerWrap %}
    <footer>
        {% block footer %}{% endblock %}
    </footer>
{% endblock %}


{% block javascripts %}

    {% javascripts  output='static/scripts.js'
    'bower/jquery/jquery.js'
    'bower/Ink/js/holder.js'
    'bower/Ink/js/ink.js'
    'bower/Ink/js/ink-ui.js'
    'bower/Ink/js/autoload.js'
    'bower/Ink/js/html5shiv.js'
    'bower/happyr-jquery-simple-animate/jquery.simple-animate.js'
    'bower/jquery-timeago/jquery.timeago.js'
    'bower/jquery-timeago/locales/jquery.timeago.sv.js'
    'bower/hinclude/hinclude.js'

    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}

</body>

</html>
