{% import "@SymfonyseVideo/Macro/video.html.twig" as _macro %}
<div class="video">
    <div class="blog-desc">
        <h3>
            <a href="{{path('video', {'permalink': entry.permalink})}}">{{entry.title}}</a>
        </h3>

        <hr>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <h4 class="headline"><span>Info</span></h4>
                <table class="table">
                    <tbody>
                    <tr>
                        <td><i class="fa-tags"></i> Taggar<td>
                        <td>{{ _misc.tags(entry.meta('tags')) }}</td>
                    </tr>
                    <tr>
                        <td><i class="fa-video-camera"></i> Inspelad<td>
                        <td>{{ _misc.date(entry.postedAt, 'medium') }}</td>
                    </tr>
                    </tbody>
                </table>


            <a class="btn btn-lg btn-red" href="{{path('video', {'permalink': entry.permalink})}}">Läs mer</a>
            </div>
        </div>
        <div class="col-sm-6">
            {{ _macro.video(entry.meta('youtube')) }}
        </div>

    </div>
</div>