{% extends "SymfonyseVideoBundle::base.html.twig" %}

{% block title %}
Video — {{parent()}}
{% endblock %}

{% block contentWrap %}
    <div class="container">
        <div class="row margin-bottom-20">
            {% for video in videos[:2] %}
                <div class="col-sm-6">
                    <h4><a href="{{ path("video", {permalink: video.permalink}) }}">{{ video.title }}</a></h4>
                    {{ _macro.video(video.meta('youtube')) }}
                    {{ _macro.meta(video) }}
                </div>
            {% endfor %}
        </div>
        <div class="row margin-bottom-20">
            {% for video in videos[2:3] %}
                <div class="col-sm-4">
                    <h5><a href="{{ path("video", {permalink: video.permalink}) }}">{{ video.title }}</a></h5>
                    {{ _macro.video(video.meta('youtube')) }}
                    {{ _macro.meta(video) }}
                </div>
            {% endfor %}
        </div>

        {# show the rest of our videos #}
        {% for row in videos[5:]|batch(4) %}
        <div class="row margin-bottom-20">
                {% for video in row %}
                    <div class="col-sm-3">
                        <h6><a href="{{ path("video", {permalink: video.permalink}) }}">{{ video.title }}</a></h6>
                        {{ _macro.video(video.meta('youtube')) }}
                        {{ _macro.meta(video) }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        </div>
    </div> <!-- / .container -->

{% endblock %}
