

{% macro city(obj) %}
    {% spaceless %}
        <span itemscope itemtype="http://www.schema.org/City">
            {% if obj.city is not empty %}
                <span itemprop="name">{{ obj.city }}</span>,
            {% endif %}
            <span>{{ obj.country }}</span>

            {% if obj.hasCoordinates %}
            <span itemprop="geo" itemscope itemtype="http://www.schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{ obj.coords.lat }}"/>
                <meta itemprop="longitude" content="{{ obj.coords.lng }}"/>
            </span>
            {% endif %}
    </span>
    {% endspaceless %}
{% endmacro %}

{% macro time(obj, format, timeago=false) %}
    <time datetime="{{ obj|date('c') }}"{% if timeago %} class="timeago"{% endif %}>
        {{ obj|date(format) }}
    </time>
{% endmacro %}

{% macro date(obj, format) %}
    {# This is not the PHP format.. It is ICU. Get format from here: http://userguide.icu-project.org/formatparse/datetime #}
    <time datetime="{{ obj|date('c') }}">
        {% if format=='none' or format=='none' or format=='short' or format=='medium' or format=='long' or format=='full' %}
            {{ obj|localizeddate(format, 'none', app.request.locale) }}
        {% else %}
            {{ obj|localizeddate('none', 'none', app.request.locale, null, format) }}
        {% endif %}
    </time>
{% endmacro %}

{# Print tags with a link #}
{% macro tags(tags) %}
    {% for tag in tags %}
        <a href="{{ path('tag', {'permalink': tag|lower|replace({' ':'-'})} ) }}">{{ tag }}</a>
        {%- if not loop.last %},{% endif %}
    {% endfor %}
{% endmacro %}

{# Print authors with a link #}
{% macro authors(authors) %}
    {% for author in authors %}
        <a href="{{ path('author', {'permalink': author|lower|replace({' ':'-'})} ) }}">{{ author }}</a>
        {%- if not loop.last %},{% endif %}
    {% endfor %}
{% endmacro %}

{# Print author photos #}
{% macro authorPhoto(authors) %}
    {% for author in authors %}
        {% set permalink = author|lower|replace({' ':'-'}) %}
            <img class="author-photo" title="{{ author }}" src="{{ asset('bundles/symfonyseauthor/images/'~staticCall('Symfonyse\\AuthorBundle\\Entity\\Author', 'getPhoto', permalink)) }}" />
    {% endfor %}
{% endmacro %}