<nav>
    <ul>
        <li><a href="{{ path('homepage') }}">Start</a></li>
        <li><a href="{{ path('blog_index') }}">Blogg</a></li>
        <li><a href="{{ path('event_index') }}">Events</a></li>
        <li><a href="{{ path('video_index') }}">Video</a></li>
        <li><a href="{{ path('page', {permalink:'styrelsen'}) }}">Styrelsen</a></li>
    </ul>
</nav>