{% extends "SymfonyseAuthorBundle::base.html.twig" %}

{% block title %}
{{author.title}} — {{parent()}}
{% endblock %}

{% block content %}
  <h1>{{author.title}}</h1>

    {{ author.content|markdown }}


    <ul>
        {% for entry in entries %}
            <li>
                <a href="{{ path(entry.type, {permalink:entry.permalink}) }}">{{ entry.title }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
