{% extends "SymfonyseBlogBundle::base.html.twig" %}

{% block title %}
{{entry.title }} — {{parent()}}
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1><a href="{{path('blog', {'permalink': entry.permalink})}}">{{entry.title}}</a></h1>
        </header>
        {{ entry.content|markdown }}
        <div>
            <p><small>Published: {{ _misc.date(entry.postedAt, 'long') }} |
                    By: {{ _misc.authors(entry.meta('authors')) }}
                    In: {{ _misc.tags(entry.meta('tags')) }}
                </small></p>
        </div>
    </article>
{% endblock %}
