{% extends "SymfonyseBlogBundle::base.html.twig" %}

{% block title %}
{{entry.title }} — {{parent()}}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>Inlägg</li>
{% endblock %}

{% block content %}
    <div class="blog">
        {{ _misc.authorPhoto(entry.meta('authors')) }}
        <div class="blog-desc">
            <h3>
                <a href="{{path('blog', {'permalink': entry.permalink})}}">{{entry.title}}</a>
            </h3>
            {% if entry.meta('tags') is not empty %}
                <i class="fa-tags"></i>{{ _misc.tags(entry.meta('tags')) }}
            {% endif %}
            <hr>

            <p class="text-muted">av {{ _misc.authors(entry.meta('authors')) }} den {{ _misc.date(entry.postedAt, 'medium') }}</p>
            {{ entry.content|markdown }}

        </div>

        <!-- Pagination -->
        <!--
        <ul class="pager pull-right">
            <li><a href="#">Förgående</a></li>
            <li><a href="#">Nästa</a></li>
        </ul>
        <div class="clearfix"></div>
        -->
    </div>
{% endblock %}
