<div class="blog">
    {{ _misc.authorPhoto(entry.meta('authors')) }}
    <div class="blog-desc">
        <h3>
            <a href="{{path('blog', {'permalink': entry.permalink})}}">{{entry.title}}</a>
        </h3>

        <hr>
        <p class="text-muted">av {{ _misc.authors(entry.meta('authors')) }} den {{ _misc.date(entry.postedAt, 'medium') }}
        <br />
            {% if entry.meta('tags') is not empty %}
                <i class="fa-tags"></i>{{ _misc.tags(entry.meta('tags')) }}
            {% endif %}</p>
        <div class="entry-content">
        {{ entry.content|markdown|excerpt|raw }}
        </div>


        <a class="btn btn-lg btn-red" href="{{path('blog', {'permalink': entry.permalink})}}">Läs mer</a>

    </div>
</div>