{% extends "SymfonyseEventBundle::base.html.twig" %}

{% block title %}
{{event.title}} — {{parent()}}
{% endblock %}

{% block content %}
  <h1>{{event.title}}</h1>

    {{ event.content|markdown|raw }}

    {% if event.meta('event_url') is not null %}
        <p>Register at <a href="{{ event.meta('event_url') }}">meetup.com</a></p>
    {% endif %}
{% endblock %}
