{% extends "SymfonyseEventBundle::base.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li>Event</li>
{% endblock %}

{% block title %}
{{event.title}} — {{parent()}}
{% endblock %}

{% block content %}
  <h1>{{event.title}}</h1>

    {{ event.content|markdown }}

{% endblock %}
